@model Student
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>My Name is: @Model.Name</p>
    <p>My Age is: @Model.Age</p>
    <p>My City is: @Model.City</p>
</div>
